align-cases = false
align-constructors-decl = false
align-variants-decl = false
assignment-operator = end-line
break-before-in = fit-or-vertical
break-cases = fit
break-collection-expressions = fit-or-vertical
break-fun-decl = fit-or-vertical
break-fun-sig = fit-or-vertical
break-infix = fit-or-vertical
break-infix-before-func = false
break-separators = after-and-docked
break-sequences = true
break-struct = force
cases-exp-indent = 4
disambiguate-non-breaking-match = false
doc-comments = after
doc-comments-padding = 2
doc-comments-tag-only = default
escape-chars = decimal
escape-strings = decimal
exp-grouping = parens
extension-indent = 2
extension-sugar = preserve
field-space = tight
function-indent = 4
function-indent-nested = always
if-then-else = keyword-first
indent-after-in = 0
indicate-multiline-delimiters = no
indicate-nested-or-patterns = space
infix-precedence = parens
leading-nested-match-parens = true
let-and = sparse
let-binding-indent = 4
let-binding-spacing = sparse
let-module = compact
let-open = long
margin = 80
match-indent = 0
match-indent-nested = always
module-item-spacing = compact
module-item-spacing = sparse
nested-match = wrap
ocp-indent-compat = true
parens-ite = true
parens-tuple = always
parens-tuple-patterns = always
parse-docstrings = true
sequence-blank-line = preserve-one
sequence-style = terminator
single-case = sparse
space-around-arrays = false
space-around-lists = false
space-around-records = false
space-around-variants = false
stritem-extension-indent = 0
type-decl = sparse
wrap-comments = false
wrap-fun-args = false
